html, body, #main, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    width: 275px;
    background: transparent;
}

.info .panel-body {
    background: transparent;
}

#request {
    position: relative;
    background: #fcc1d4 none repeat scroll 0 0;
    color: #000;
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    width: 135px;
}

#request:disabled {
    color: #999;
    border-color: #999;
}

#accountLink {
    background: inherit;
}

#updates {
    list-style: none;
    margin-top: 5px;
    padding: 0;
}

#updates li {
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 5px;
}

.authToken {
    word-wrap: break-word;
    width: 100%;
}
.maincontent{
    padding-top: 0%;
    padding-left:0%;
  }
  
  .red {
    border-color: red ;
    padding: 1%;
    border-style: solid;
    border-width: medium;
  }
  .green {
    border-color: green ;
    padding: 1%;
    border-style: solid;
    border-width: medium;
  }
  .col {
    border-color: red ;
    padding: 1%;
    border-style: solid;
    border-width: medium;
  }
  .col-lg{
      height: 200px;
      overflow: hidden;
      margin: 10px 0;
      position: relative;
      flex-basis: 30%;
  }
  
    /* Images crop and center to col-lg box up to 1000% centering (if 100% if it's 3x the size it doesn't fully center)Idk man why? projectors and stuff? */
  .col-lg img{
    display:block;
      position: absolute;
      left: -1000%;
      right: -1000%;
      top: -1000%;
      bottom: -1000%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
  }
  .imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }